input {
  border: 0;
	height: 3rem;
  max-width: 10vw;
  max-height: 10vw;
	padding: 0;
	text-align: center;
	width: 3rem;
}

table {
  display: inline-block;
  margin-top: 1rem;
}

td {
	border: 1px solid #cdcdcd;
  border-radius: 5%;
	height: 3rem;
  max-width: 10vw;
  max-height: 10vw;
	width: 3rem;
}

td:first-child {
	border-left: 2px solid #121212;
}

td:nth-child(3n) {
	border-right: 2px solid #121212;
}

tr:first-child td {
	border-top: 2px solid #121212;
}

tr:nth-child(3n) td {
	border-bottom: 2px solid #121212;
}
